/x64/

/FDTD1D/x64
/FDTD2D/x64
/FDTD3D/Win32
/FDTD3D/objTester
/ImageIO/x64
/ImageIO/Win32

*.dep
*.csv
dev.zip 
*.wav
*.res
*.manifest


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.htm
/FDTD1D/x64/Release/*.idb
*.idb
